<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" content="text/html" http-equiv="Content-Type" />
        <title>NExT - Detalhar Aluno</title>
    </head>
    <body>
        <div th:if="${success!=null}">
            <p th:text="${success}" style="color: green;">Sucesso!</p>
        </div>
        <div th:if="${error!=null}">
            <p th:text="${error}" style="color: red;">Erro!</p>
        </div>
        <div th:if="${aluno!=null}">
            <h2>Detalhes do Aluno</h2>
            <table border="1">
                <thead>
                    <td>ID</td>
                    <td>Nome</td>
                    <td>CPF</td>
                </thead>
                <tbody>
                    <tr>
                        <td th:text="${aluno.id}">...</td>
                        <td th:text="${aluno.nome}">...</td>
                        <td th:text="${aluno.cpf}">...</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <a th:href="@{/aluno/list/}">
                <input type="button" value="Voltar" />
            </a>
        </div>
    </body>
</html>
