<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" content="text/html" http-equiv="Content-Type" />
        <title>NExT - Editar Aluno</title>
    </head>
    <body>
        <div th:if="${success!=null}">
            <p th:text="${success}" style="color: green;">Sucesso!</p>
        </div>
        <div th:if="${error!=null}">
            <p th:text="${error}" style="color: red;">Erro!</p>
        </div>
        <h2>Editar Aluno</h2>
        <form th:method="post" th:action="@{/aluno/edit/save/}">
            <input th:type="hidden" th:name="id" th:value="${aluno.id}">
            <table>
                <tr>
                    <td>Nome:</td>
                    <td><input type="text" maxlength="100" th:name="nome" th:value="${aluno.nome}"></td>
                </tr>
                <tr>
                    <td>CPF:</td>
                    <td><input type="text" maxlength="11" th:name="cpf" th:value="${aluno.cpf}"></td>
                </tr>
                <tr>
                    <td></td>
                    <td align="right">
                        <a th:href="@{/aluno/list/}">
                            <input type="button" value="Voltar" />
                        </a>
                        <input type="submit" value="Salvar">
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>
